body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
   
.to-uppercase {
    text-transform: uppercase;
}

.clearfix {
    clear: both;
}
    
/*Main Section */

.main-banner {
    background: url("./img/main-banner.png") no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 890px;
}

.main-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
   z-index: 10;
   box-shadow: 0px 3px 16px 0px rgb(0 0 0  / 10%);
} 

.main-header-brand {
    display: inline-block;
    vertical-align: middle;
}

.main-header-brand img {
    width:118px ;
}


.main-navigation {
   display: inline-block;
   vertical-align: middle;
}

.main-navigation__item {
    display: inline-block;
    padding: 10px;
}

.main-navigation__item a {
    color:rgb(5, 54, 77) ;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

.main-navigation__item a:hover {
    color:rgb(239, 182, 223) ;
}

.main-navigation__item.active a {
    color:rgb(239, 182, 223) ; 
}

.main-section > div {
    width: 50%;
    float: left;
    margin-top: 80px;
}

.main-section-image {
    text-align: right;
    margin-top: 100px;
}

.main-section-welcome {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #797979;
}

.main-section-name {
    font-size: 60px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#05364E ;
}

.main-section-position {
    color: #05364E;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.main-section__social-medias  {
  color: #8FA1AA;
  font-size: 20px;
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

.main-section__social-medias a:hover i {
    color: #bb4a24;
}



/* Statistics  */
.statistics {
    padding-top: 100px;
}

.statistics__item {
    display: inline-block;
    background-color: #f3f3f3;
    text-align: center;
    padding: 5px 10px;
    margin-right: 20px ;
    width: 150px;
}

.statistics-number {
    font-size: 27px;
    margin-bottom: 5px;
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.statistics-title {
    font-size:16px ;
    color: #797979;
    font-weight: 300;
}

/* About me section */
.about-me {
    padding: 100px 0;
}

.about-me > div {
    width: 50%;
    float: left;
}

.about-me__image img {
    width: 90%;
}


.section-subtitle {
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #797979;
    text-transform: uppercase;
}

.section-title {
    margin-top: 5px;
    font-size: 42px;
    font-weight: 500;
    text-transform: capitalize;
    color: #05364D;
}

.button-to-uppercase {
    margin-top: 30px;
    border: none;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
  background-size: 200% auto;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
}

.button-to-uppercase:hover {
    background: linear-gradient(to right, #1345e6 0%, #ed239f 0%, #1345e6 100%);
}

.blur-line {
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 5px;
    width: 80px;
    height: 4px;
    background-color: rgba(237, 35, 159, 0.6);
    filter: blur(4px);
    border-radius: 4px;
}



.about-me-description {
    font-size: 14px;
    font-weight: 300;
    color: #797979;
    line-height: 27px;
}

.about-me__action {
    margin-top: 40px;
}

/* Services section styles */
.services {
    padding-top: 100px;
}

.services__card {
    display: inline-block;
    width: 30%;
    padding: 60px 30px;
    background-color: #F8FAFF;
    margin-right: 3%;
    text-align: center;
    box-sizing: border-box;
}

.service-card__title {
    color: #05364D;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.service-card__description {
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    color: #797979;
}

.service-card__link {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364D;
    text-decoration: none;
}

.services__card:hover {
    background-color: #5f30ff;
}

.services__card:hover .service-card__title,
.services__card:hover .service-card__description,
.services__card:hover .service-card__link {
    color: #ffffff;
}


/* Clients section styles */
.my-clients {
    padding-top: 100px;
}

.client-item > div {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.client-item__image img {
    max-width: 100%;
    height: auto;
}

.client-item__info {
    padding-top: 50px;
    padding-left: 50px;
}

.client-item__name {
    font-size: 20px;
    margin-bottom: 4px;
}

.client-item__position {
    font-size: 14px;
    font-weight: 300;
    color: #5b6d75;
}

.client-item__review {
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    color: #5b6d75;
}

.client-item__rate {
    color: #ffd804;
    margin-top: 20px;
}


 /*Portfolio Section Styles */
 .portfolio {
    padding: 100px 0;
 }

 .portfolio-filters {
    list-style: none;
    padding-left: 0;
    margin-top: 50px;
 }

 .portfolio-filters li {
    display: inline-block;
    margin-right: 40px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
 }

  .portfolio-filters li:hover, 
  .portfolio-filters li:active {
    color: #1C44E4;
  }

 .portfolio-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
 }

 .portfolio-item {
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
 }

 .portfolio-item-1 {
    grid-column: 1;
    grid-row: 1 / 3;
 }

 .portfolio-item-2 {
    grid-column: 2;
    grid-row: 1;
 }

 .portfolio-item-3 {
    grid-column: 2;
    grid-row: 2;
 }

 .portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
 }

 .portfolio-item__overlay {
    position: absolute;
    left: 0;
    top : 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 69, 230, 0.9);
    visibility: hidden;
    z-index: 1;
 }

 .portfolio-item__info {
position: absolute;
bottom: 44px;
left: 80px;
color: white;
visibility: hidden;
z-index: 1;
 }

 .portfolio-item__info a {
    color: white;
    text-decoration: none;

 }

 .portfolio-item:hover .portfolio-item__overlay {
    visibility: visible;
    top: 20px;
    left: 20px;
 }

 .portfolio-item:hover .portfolio-item__info {
    visibility: visible;
    bottom: 24px;
    left: 60px;
 }

 /* Blog Section Styles */
 .blog-section {
    padding-top: 100px;
 }

 .blog-items {
    margin-top: 50px;
 }

 .blog-item {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    box-sizing: border-box;
 }

 .blog-item:hover {
    box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
 }

 .blog-item:hover .blog-item__info {
    color: rgb(121, 91, 212);
 }

 .blog-item__image {
    width: 100%;
 }

 .blog-item__info {
    background-color: #F8FAFF;
    padding: 30px;
    color: #797979;
 }

 .blog-item__info {
    margin-right: 30px;
    font-size: 14px;
    font-weight:lighter;
 }

 .blog-item__info i {
    margin-right: 5px;
 }

 .blog-item__title {
    color: #05364d;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 700;
 }

 .blog-item__description {
    line-height: 27px;
    font-weight: lighter;
    font-size: 15px;
 }

 .blog-item__learn-more {
    text-decoration: none;
    font-size: bold;
    font-weight: 500;
    color: #05364d;
    cursor: pointer;
 }

.blog-item__learn-more:hover {
 color: #ed239f99;
}

/* Partners Section Styles */
.partners {
    padding-top: 100px;
}

.partner {
    display: inline-block;
    padding: 0 30px;
}

/* Footer Styles */
footer {
    background-color: rgb(2, 16, 23);
    padding: 60px 0;
    margin-top: 100px;
    text-align: center;
}

.footer__navigation img {
    width: 64px;
    margin-bottom: 50px;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

footer nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.footer__brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer__brand-name a {
   display:inline-block ;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: none;
    border-radius: 36px;
   color: #05364d;
   background-color: #ffffff;;
   text-decoration: none;
   font-size: 28px;
}

.footer__brand-name a:hover {
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    color: #ffffff;
    transform: scale(1.1);
}

.footer__text {
    color: #797979;
}

.footer__span {
    color: #305c9a;
    font-size: 18px;
    font-family: monospace;
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
.container {
    width: 96%;
}
    .main-navigation  {
        display: none;
    }
}